<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColbyAfrica.Public.Projects.CSharpCodeHeaderDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ColbyAfrica.Public.Projects.CSharpCodeHeaderDesigner.Properties.Settings>
            <setting name="FilterCritiera" serializeAs="String">
                <value>*.designer, reference.cs, *.Designer, Reference.cs</value>
            </setting>
            <setting name="AutoDetect" serializeAs="String">
                <value>True</value>
            </setting>
        </ColbyAfrica.Public.Projects.CSharpCodeHeaderDesigner.Properties.Settings>
    </userSettings>
</configuration>